{% extends 'base.html' %}

{% block title %}
StuMatch - Home
{% endblock %}

{% block header %}
{% include 'partials/navbar-home.html' %}
{% endblock %}

{% block main %}
<main class="home">
    <div class="content horizontal around" id="home-content">
        <h1 id="login-title">Log In</h1> 
        <div class="container vertical" id="login-form">
            <form method="post">
                <div class="form-group">
                  <label for="inputEmail">Email address</label>
                  <input type="email" class="form-control" name="inputEmail" id="login-email" aria-describedby="emailHelp" placeholder="Email Address">
                  <small id="HelpInline" style="color:red;">
                    {{message}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control" name="inputPassword" id="login-password" placeholder="Password">
                </div>
                <button type="submit" value="submit" class="btn btn-primary">Log In</button>
              </form>
        </div>
    </div>           
</main>
{% endblock %}
