#home-content {
    height:100%;
    width:100%;
    align-items: center;
    padding-top:5%;
}

#button-getstarted {
    width: fit-content;
    background-color: #58799c;
}

#home-paragraph {
    height:fit-content;
}

#home-paragraph h1 {
    font-size: 5.5vw;
}

#home-paragraph p {
    font-size: 1.5vw;
}

#home-image { 
    height: 30vw;
    width:auto;
}