* {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 95vh;
    background-color:#90ADCD;
}

.row {
    margin-left:auto;
    margin-right:auto;
    
}

.home {
    padding:5% 10% 15% 10%;
}

.logged-in {
    padding:50px 10%;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.centered {
    justify-content: center;
}

.center {
    align-items: center;
}

.base {
    align-items: baseline;
}

.content {
    display:flex;
}

/* Login Page Styling */
#login-title, #signup-title{
    font-size:100px;
    margin:0px 0px;
}

#login-form, #signup-form {
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin:0px 10px;
    border-radius: 10px;
    height:fit-content;
    width: fit-content;
}

#login-email, #login-password {
    width:20rem;
}

#login-form button {
    margin:10px 5px 5px 5px;
}

/* Sign up form styling */
#signup-form-container {
    width:fit-content;
}